<!DOCTYPE html>
<html>
  <body>
    <h1>Create New Post</h1>
    <form method="POST" action="/articles">
      <p>Title: <input id="title" type="text" name="article[title]"</p>
      <p>Content: <input id="content" type="text" name="article[content]"</p>
      <input id= "submit" type="submit">
    </form>
  </body>
</html>